.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	height: 45px;
}

h1,
p {
	font-weight: 150%;
}

button {
	width: 30%;
	background-color: green;
	color: #fff;
	border-radius: 25px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	font-size: 125%;
	cursor: pointer;
	border: aliceblue;
}

button:active {
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#message,
#score {
	height: 80px;
	width: 50%;
	justify-content: center;
	font-size: 200%;
}